/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Titillium Web', sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #164A41;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.container {
    display: flex;
}

.menu {
    width: 200px; /* Largura do menu lateral */
    background-color: #f0f0f0; /* Fundo do menu */
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.menu ul {
    list-style-type: none;
}

.menu ul li {
    margin: 15px 0;
}

.menu ul li a {
    color: #164A41; /* Cor do texto do menu */
    text-decoration: none;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px; /* Bordas arredondadas dos links */
    display: block;
    transition: background-color 0.3s;
}

.menu ul li a:hover {
    background-color: #9dc88d; /* Fundo ao passar o mouse */
}

.content {
    flex-grow: 1; /* Permite que o conteúdo ocupe o restante do espaço */
    padding: 40px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px; /* Bordas arredondadas */
}

h2 {
    color: #164A41;
    margin-bottom: 20px;
}

.form-container {
    display: flex;
    justify-content: space-between;
}

.form-left, .form-right {
    width: 48%;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: flex;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 18px;
}

input[type="text"], input[type="date"], input[type="email"], input[type="tel"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 14px;
}

button {
    background-color: #164A41;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

/* button :hover {
    background-color: #968dc8;
} */

input[type="file"] {
    border: none;
    background-color: #f1f1f1;
}
