/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Titillium Web', sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

/* Estilo do cabeçalho */
header {
    background-color: #164A41;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Estilo do contêiner principal */
.container {
    display: flex;
}

/* Estilo do menu */
.menu {
    width: 200px;
    background-color: #f0f0f0;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.menu ul {
    list-style-type: none;
}

.menu ul li {
    margin: 15px 0;
}

.menu ul li a {
    color: #164A41;
    text-decoration: none;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
    display: block;
    transition: background-color 0.3s;
}

.menu ul li a:hover {
    background-color: #9dc88d;
}

/* Estilo do quadro Kanban */
.kanban-board {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 40px;
}

/* Estilo das colunas Kanban */
.kanban-column {
    width: 20%;
    min-height: 400px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.kanban-column h2 {
    color: #164A41;
    margin-bottom: 20px;
}

/* Estilo dos itens de cliente */
.cliente-item {
    background-color: #164A41;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: grab;
    font-weight: 600;
    text-align: center;
    transition: background-color 0.3s;
}

.cliente-item:hover {
    background-color: #9dc88d;
}